* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #221815;
}

ul,
li {
  list-style: none;
}

i {
  font-style: normal;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
}

@media screen and (min-width: 820px) {
  body {
    background-color: #fff;
  }
  .header-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 0;
    text-align: center;
    box-shadow: 0 0 500px #000 inset;
  }
  .header-img {
    width: 1000px;
  }
  .bgimg {
    width: 1200px;
    margin: 0 auto;
  }
  .videobg {
    width: 100%;
    margin: 0 auto;
  }
  .images {
    width: 100%;
  }

  .modal {
    display: block;
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    border-radius: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #888;
    width: 460px;
    height: 90px;
  }
  .modal-content p {
    font-size: 16px;
  }
  #nameInput {
    height: 30px;
    margin: 0 10px;
  }
  #submitBtn {
    font-size: 16px;
    background-color: #fff;
    padding: 6px 20px;
    border-radius: 10px;
    border: none;
    background-color: #1890ff;
    color: #fff;
    cursor: pointer;
  }
}

@media screen and (max-width: 820px) {
  body {
    background-color: #fff;
  }
  .header-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 0 0 100px #000 inset;
  }
  .header-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
  }
  .images {
    max-width: 100%;
  }

  .modal {
    display: block;
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    border-radius: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #888;
    width: 6.6rem;
    height: 1.6rem;
  }
  .modal-content p {
    font-size: 0.2rem;
  }
  #nameInput {
    height: 0.6rem;
    width: 2.6rem;
    margin: 0 0.1rem;
  }
  #submitBtn {
    font-size: 0.2rem;
    background-color: #fff;
    padding: 0.1rem 0.24rem;
    border-radius: 0.1rem;
    border: none;
    background-color: #1890ff;
    color: #fff;
    cursor: pointer;
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  70% {
    opacity: 0.7;
    transform: translateY(70%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
.header-top {
  animation-name: fadeOutLeft;
  animation-duration: 2s; /* 动画持续时间 */
  animation-timing-function: linear; /* 动画速度曲线 */
  animation-fill-mode: forwards; /* 动画结束后保持最后一个关键帧的样式 */
  animation-delay: 4s;
}

@keyframes ms {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bgimg {
  animation-name: ms;
  animation-duration: 6s; /* 动画持续时间 */
  animation-timing-function: linear; /* 动画速度曲线 */
  animation-fill-mode: forwards; /* 动画结束后保持最后一个关键帧的样式 */
}
